/* css for home and about */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
.carousel-item img{
  width: 100%;
  height: 70vh;
}
 header #content-img img{
  width: 100%;
  height: 90vh;
}
 .connect #image img{
  height: 50vh;
  width: 100%;
  
}
